<?xml version="1.0"?>

<model>
  <name>mina_ugv</name>
  <version>2.0</version>
  <!-- <sdf version="1.4">model-1_4.sdf</sdf> -->
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Navcon</name>
    <email>h.zaman@navconsystems.com</email>
  </author>

  <description>
    Dism
  </description>
</model>
